<a href="https://colab.research.google.com/github/FaatimahM/Analyse-predict/blob/master/Classification_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [35]:
import numpy as np
import pandas as pd 

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import precision_recall_fscore_support as score

import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib.pyplot import rcParams
rcParams['figure.figsize'] = 10,8
sns.set(style='white')
%matplotlib inline

In [2]:
df = pd.read_csv('/content/claims_data.csv')
df.head()

   age     sex     bmi  steps  children smoker     region insurance_claim
0   19  female  27.900   3009         0    yes  southwest             yes
1   18    male  33.770   3008         1     no  southeast             yes
2   28    male  33.000   3009         3     no  southeast              no
3   33    male  22.705  10009         0     no  northwest              no
4   32    male  28.880   8010         0     no  northwest             yes

In [3]:
X = df['region']
y = df['insurance_claim']

In [ ]:
X_transformed = pd.get_dummies(X, drop_first=True)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X_transformed, y, test_size=0.2, random_state=50)

In [ ]:
lr = LogisticRegression(random_state= 50)
lr_mod = lr.fit(X_train,y_train)
y_pred = lr_mod.predict(X_test)
tn, fp, fn, tp = confusion_matrix(y_test, y_pred).ravel()
fp

86

In [ ]:
confusion_matrix(y_test, y_pred)

array([[ 30,  86],
       [ 38, 114]])

In [ ]:
tp + tn

144

In [ ]:
precision,recall,fscore,support = score(y_test, y_pred)
print(precision)

[0.44117647 0.57      ]

In [ ]:
from sklearn.metrics import precision_score
precision_score(y_test, y_pred, average='weighted')

0.5142405618964003

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.5373134328358209

In [ ]:
X = df[['region', 'smoker','bmi']]

In [ ]:
X_transformed = pd.get_dummies(X, drop_first=True)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X_transformed, y, test_size=0.2, random_state=50)

In [ ]:
lr = LogisticRegression(random_state= 50)
lr_mod = lr.fit(X_train,y_train)
y_pred = lr_mod.predict(X_test)

In [ ]:
y_pred

array(['yes', 'yes', 'yes', 'yes', 'no', 'yes', 'yes', 'no', 'no', 'no',
       'yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'no', 'no', 'yes',
       'no', 'yes', 'yes', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no',
       'yes', 'no', 'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'yes',
       'yes', 'no', 'yes', 'no', 'yes', 'yes', 'yes', 'yes', 'no', 'no',
       'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'no', 'no', 'yes', 'yes',
       'no', 'no', 'no', 'no', 'no', 'yes', 'yes', 'yes', 'no', 'yes',
       'yes', 'no', 'yes', 'yes', 'yes', 'yes', 'no', 'no', 'yes', 'yes',
       'no', 'yes', 'no', 'yes', 'no', 'no', 'yes', 'no', 'no', 'no',
       'no', 'yes', 'no', 'yes', 'yes', 'no', 'no', 'no', 'yes', 'no',
       'yes', 'no', 'yes', 'no', 'yes', 'no', 'yes', 'no', 'no', 'yes',
       'yes', 'no', 'yes', 'yes', 'no', 'no', 'no', 'no', 'yes', 'yes',
       'yes', 'yes', 'yes', 'no', 'yes', 'yes', 'no', 'yes', 'yes', 'yes',
       'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'no', 'no', 'no',
       'no', 'no', 'no', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes',
       'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'no', 'yes', 'yes',
       'yes', 'yes', 'yes', 'yes', 'no', 'no', 'no', 'no', 'no', 'yes',
       'yes', 'yes', 'no', 'no', 'no', 'yes', 'yes', 'yes', 'yes', 'yes',
       'yes', 'no', 'yes', 'yes', 'no', 'yes', 'yes', 'yes', 'no', 'yes',
       'no', 'yes', 'yes', 'no', 'yes', 'no', 'yes', 'yes', 'no', 'no',
       'yes', 'yes', 'no', 'yes', 'yes', 'yes', 'yes', 'no', 'no', 'yes',
       'yes', 'yes', 'no', 'yes', 'yes', 'yes', 'yes', 'yes', 'no', 'yes',
       'no', 'no', 'yes', 'no', 'no', 'no', 'yes', 'yes', 'yes', 'no',
       'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'no', 'no',
       'yes', 'yes', 'no', 'yes', 'yes', 'yes', 'no', 'yes', 'yes', 'no',
       'no', 'yes', 'no', 'yes', 'no', 'yes', 'yes', 'yes', 'no', 'yes',
       'no', 'no', 'yes', 'no', 'no', 'no', 'no', 'yes', 'yes'],
      dtype=object)

In [ ]:
from sklearn.metrics import recall_score
(recall_score(y_test, y_pred, pos_label='no')+recall_score(y_test, y_pred, pos_label='yes'))/2

0.6960072595281306

In [ ]:
X = df[['smoker','bmi']]
X_transformed = pd.get_dummies(X, drop_first=True)
X_train, X_test, y_train, y_test = train_test_split(X_transformed, y, test_size=0.2, random_state=50)
lr = LogisticRegression(random_state= 50)
lr_mod = lr.fit(X_train,y_train)
y_pred = lr_mod.predict(X_test)
from sklearn.metrics import recall_score
(recall_score(y_test, y_pred, pos_label='no')+recall_score(y_test, y_pred, pos_label='yes'))/2

0.7028130671506352

In [4]:
from sklearn.metrics import f1_score

In [8]:
 def test_features(feat1,feat2):
  X = df[[feat1,feat2]]
  X_transformed = pd.get_dummies(X, drop_first=True)
  X_train, X_test, y_train, y_test = train_test_split(X_transformed, y, test_size=0.2, random_state=50)
  lr = LogisticRegression(random_state= 50)
  lr_mod = lr.fit(X_train,y_train)
  y_pred = lr_mod.predict(X_test)
  return (f1_score(y_test, y_pred, pos_label='no')+f1_score(y_test, y_pred, pos_label='yes'))/2

In [9]:
test_features('bmi','steps')

0.667808968282902

In [10]:
test_features('smoker','children')

0.726530612244898

In [11]:
test_features('steps','children')

0.7906249999999999

In [12]:
test_features('bmi','smoker')

0.7043510652015071

In [16]:
 l = ["bmi", "smoker", "steps", "children"]
 def best_c_values(c):
  X = df[l]
  X_transformed = pd.get_dummies(X, drop_first=True)
  X_train, X_test, y_train, y_test = train_test_split(X_transformed, y, test_size=0.2, random_state=50)
  lr = LogisticRegression(random_state= 50, C=c )
  lr_mod = lr.fit(X_train,y_train)
  y_pred = lr_mod.predict(X_test)
  return (f1_score(y_test, y_pred, pos_label='no')+f1_score(y_test, y_pred, pos_label='yes'))/2

In [20]:
C_val = [0.05, 0.1, 1.0 , 10]
for x in C_val:
  print(x, best_c_values(x))

0.05 0.8502557343228413
0.1 0.858292247231154
1.0 0.8659521257591998
10 0.8662731847796644

In [24]:
X = df[l]
X_transformed = pd.get_dummies(X, drop_first=True)
X_train, X_test, y_train, y_test = train_test_split(X_transformed, y, test_size=0.2, random_state=50)
lr = LogisticRegression(random_state= 50, C =10)
lr_mod = lr.fit(X_train,y_train)
y_pred = lr_mod.predict(X_test)
from sklearn.metrics import precision_score
(precision_score(y_test, y_pred, pos_label='no')+ precision_score(y_test, y_pred, pos_label='yes'))/2

0.8687381649165089

In [27]:
df['gender']

KeyError: ignored

In [28]:
X = df['sex']
X_transformed = pd.get_dummies(X, drop_first=True)
X_train, X_test, y_train, y_test = train_test_split(X_transformed, y, test_size=0.2, random_state=50)
lr = LogisticRegression(random_state= 50)
lr_mod = lr.fit(X_train,y_train)
y_pred = lr_mod.predict(X_test)
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

array([[  0, 116],
       [  0, 152]])

In [29]:
df['sex'].value_counts()

male      676
female    662
Name: sex, dtype: int64

In [40]:
662/676

0.9792899408284024

In [41]:
4/5

0.8

In [42]:
5/6

0.8333333333333334

In [43]:
6/7

0.8571428571428571

In [30]:
df['insurance_claim'].value_counts()

yes    783
no     555
Name: insurance_claim, dtype: int64

In [59]:
df[(df['insurance_claim'] == 'yes') & (df['sex'] == 'female')].shape

(377, 8)

In [58]:
df[(df['insurance_claim'] == 'yes') & (df['sex'] == 'male')].shape

(406, 8)

In [61]:
df[df['insurance_claim'] == 'yes']['region'].value_counts()

southeast    245
northeast    192
southwest    183
northwest    163
Name: region, dtype: int64

In [63]:
df[(df['sex'] == 'female') & (df['children'] >= 2)]

      age     sex     bmi  steps  children smoker     region insurance_claim
7      37  female  27.740   8007         3     no  northwest              no
25     59  female  27.720   8009         3     no  southeast             yes
27     55  female  32.775   4000         2     no  northwest              no
32     19  female  28.600   8003         5     no  southwest              no
36     62  female  32.965   3004         3     no  northwest              no
...   ...     ...     ...    ...       ...    ...        ...             ...
1319   39  female  26.315   8003         2     no  northwest              no
1323   42  female  40.370   4006         2    yes  southeast             yes
1328   23  female  24.225  10001         2     no  northeast              no
1330   57  female  25.740   8003         2     no  southeast             yes
1332   52  female  44.700   4009         3     no  southwest              no

[215 rows x 8 columns]

In [64]:
df[(df['sex'] == 'female') & (df['children'] >= 2) & (df['insurance_claim'] == 'yes')]

      age     sex     bmi  steps  children smoker     region insurance_claim
25     59  female  27.720   8009         3     no  southeast             yes
66     61  female  39.100   4010         2     no  southwest             yes
72     53  female  28.100   8009         3     no  southwest             yes
84     37  female  34.800   4003         2    yes  southwest             yes
94     64  female  31.300   3001         2    yes  southwest             yes
...   ...     ...     ...    ...       ...    ...        ...             ...
1246   45  female  25.700   8010         3     no  southwest             yes
1281   47  female  27.645   3001         2    yes  northwest             yes
1313   19  female  34.700   4000         2    yes  southwest             yes
1323   42  female  40.370   4006         2    yes  southeast             yes
1330   57  female  25.740   8003         2     no  southeast             yes

[63 rows x 8 columns]

In [65]:
63/215

0.2930232558139535

In [67]:
max(df['children'])

5

In [68]:
df.describe()

               age          bmi         steps     children
count  1338.000000  1338.000000   1338.000000  1338.000000
mean     39.207025    30.663397   5328.623318     1.094918
std      14.049960     6.098187   2453.643236     1.205493
min      18.000000    15.960000   3000.000000     0.000000
25%      27.000000    26.296250   3008.000000     0.000000
50%      39.000000    30.400000   4007.000000     1.000000
75%      51.000000    34.693750   8004.000000     2.000000
max      64.000000    53.130000  10010.000000     5.000000

In [70]:
df[(df['children'] == 5) & (df['sex'] == 'female')]

      age     sex     bmi  steps  children smoker     region insurance_claim
32     19  female  28.600   8003         5     no  southwest              no
166    20  female  37.000   3009         5     no  southwest              no
438    52  female  46.750   3007         5     no  southeast             yes
568    49  female  31.900   3008         5     no  southwest              no
937    39  female  24.225  10000         5     no  northwest              no
969    39  female  34.320   3004         5     no  southeast              no
1085   39  female  18.300   3002         5    yes  southwest              no
1130   39  female  23.870  10000         5     no  southeast              no

In [73]:
hibmi = df.sort_values(by = 'bmi', ascending= False).head(20)

In [76]:
hibmi['region'].value_counts()

southeast    16
southwest     3
northeast     1
Name: region, dtype: int64

In [79]:
df[df['smoker'] == 'no']['steps'].mean() - df[df['smoker'] == 'yes']['steps'].mean()

1627.9534945941496

In [85]:
df[(df['age']<= 30) & (df['bmi'].between(18.5,24.9, inclusive = True)) & (df['smoker'] == 'no')]

      age     sex     bmi  steps  children smoker     region insurance_claim
15     19    male  24.600  10000         1     no  southwest              no
17     23    male  23.845  10004         0     no  northeast              no
35     19    male  20.425  10006         0     no  northwest              no
37     26    male  20.800  10007         0     no  southwest              no
121    18    male  23.750  10001         0     no  northeast              no
...   ...     ...     ...    ...       ...    ...        ...             ...
1292   21    male  23.210  10002         0     no  southeast              no
1295   20    male  22.000  10004         1     no  southwest              no
1302   25  female  20.800  10005         1     no  southwest              no
1316   19  female  20.600  10009         0     no  southwest              no
1328   23  female  24.225  10001         2     no  northeast              no

[74 rows x 8 columns]

In [87]:
df[(df['age']<= 30) & (df['bmi'].between(18.5,24.9, inclusive = True)) & (df['smoker'] == 'no') & (df['insurance_claim'] == 'yes')]

Empty DataFrame
Columns: [age, sex, bmi, steps, children, smoker, region, insurance_claim]
Index: []